/* Gallery Grid */

.gallery-container{
    width: 80%;
    max-width: 150rem;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0 4rem;
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-5 img-6'
        'img-7 img-7 img-8 img-6';
}
.image-container a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-container a:hover{
    filter: grayscale(100%);
}

.image-container a::before{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}
.image-container a:hover i,
.image-container a:hover::before{
    opacity: 1 ;
}
.img-1{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url(../image/1-kid.jpg);
}
.img-2{
    grid-area: img-2;
    background-image: url(../image/2-kid.jpg);
}
.img-3{
    grid-area: img-3;
    background-image: url(../image/3-kid.jpg);
}
.img-4{
    grid-area: img-4;
    background-image: url(../image/4-kid.jpg);
}
.img-5{
    grid-area: img-5;
    background-image: url(../image/5-kid.jpg);
}
.img-6{
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url(../image/6-kid.jpg);
}
.img-7{
    grid-area: img-7;
    background-image: url(../image/7-kid.jpg);
}
.img-8{
    grid-area: img-8;
    background-image: url(../image/8-kid.jpg);
}
@media screen and (max-width: 900px){
    .image-container{
        grid-template-areas: 
        'img-1 img-1 img-2 img-2'
        'img-1 img-1 img-3 img-3'
        'img-4 img-4 img-5 img-5'
        'img-6 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8';
    }
    .image-container a{
        height: 20rem;
    }
    .img-1{
        min-height: 41.5rem;
    }
    .img-6{
        min-height: 20rem;
    }
}
@media screen and (max-width:600px){
    .image-container{
        grid-template-areas: 
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-6 img-6 img-6 img-6'
        'img-7 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8';
    }
    .image-container a,
    .img-1,
    img-6{
        min-height: 30rem;
        height: 30rem;
    }
}